<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Snap</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
 .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px; /* Adjust the width as needed */
    height: auto;
  }
      </style>

</head>
<body>
   <div class="logo">
       <img src="{{ url_for('static', filename='logo5.png') }}" alt="Logo" class="logo">
    </div>
    <div class="container">

    <div class="header">
            <h1><a href="/" style="text-decoration: none; color: #333;"></a></h1>
        </div>
        <canvas id="canvas" width="400" height="200"></canvas>
        <div class="buttons">
            <button id="saveBtn">Save Signature</button>
            <button id="undoBtn">Undo</button>
        </div>

    </div>

    <script src="{{ url_for('static', filename='signature.js') }}"></script>
</body>
</html>
